@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: clamp(24px, 5vw, 44px);
}

h2 {
  font-size: clamp(20px, 4vw, 40px);
}

.fade-up {
  transform: translateY(50px);
  opacity: 0;
}

.active {
  transform: None;
  opacity: 1;
}
